<div class='container'>
  <div class='row'>
    <div class='col mt-5'>
      <h1>Login</h1>
    </div>
  </div>
  <app-loading-indicator *ngIf='isBusy'></app-loading-indicator>
  <form [formGroup]='form' (ngSubmit)='onSubmit()' *ngIf='!isBusy'>
    <div class='row mb-2'>
      <div class='col'>
        <div class='form-group required row'>
          <label class='col-2 mr-2' for='email'>Email</label>
          <input class='col-3' formControlName='email' id='email' />
        </div>
      </div>
    </div>
    <div class='row mb-2'>
      <div class='col'>
        <div class='form-group required row'>
          <label class='col-2 mr-2' for='password'>Wachtwoord</label>
          <input class='col-3' type='password' formControlName='password' id='password' />
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <button type='submit' class='btn btn-primary' [disabled]='form.invalid'>Inloggen</button>
      </div>
    </div>
  </form>
  <div class='row'>
    <div class='col mt-5'>
      <p>Nog geen account?</p>
      <button type='button' class='btn btn-secondary' routerLink='/register'>Registreren</button>
    </div>
  </div>
  <div class='row'>
    <div class='col mt-5'>
      <a routerLink='/forgot-password'>Wachtwoord vergeten</a>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <div class="alert alert-danger mt-3" role="alert" *ngIf='error'>
        <h4 *ngIf='error.title'>{{ error.title }}</h4>
        <p *ngIf='error.message'>{{ error.message }}</p>
      </div>
    </div>
  </div>
</div>

